@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Exo:ital,wght@0,100;0,200;0,300;1,400&family=Inter:wght@100;200;300;400;500;600;700;800&family=Kanit:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;1,100&display=swap');
*{
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px; /* espaçamento das letras*/
}
/* Header*/
.head-top {    
    display: flex;
    width: auto;
    background-color: rgb(248, 101, 4); /* cor do Cabeçalho*/
    height: 120px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos na página */
}
.logo img {
    height: 100px; /* Ajuste conforme necessário */
    border: #000000 solid 2px;
    border-radius: 50%;
    margin: 15px;  
}
nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}
nav li {
    margin-right: 20px;
}
nav a {
    font-size: 28px;
    text-decoration: none;
    color: #000000;
}
nav a:hover {
    font-size: 28px;
    color: #a0fd0b;
    font-size: 24px;
    transition: 0.3s ease; 
}
/*   Principal    */
.trabalho  {
    display: grid;
    color: aliceblue;
    padding: 15px;
    gap: 1px;
    border: #063506 solid 2px;
    justify-content: center;
    text-align: center;
    background-color: #000000;
}
h1 {
    font-size: 48px;
}
.dog_cat {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    font-size: 32px;
    padding: 1px;
    gap: 5px;
    align-items: center;
    text-align: center;
}
.fa-heart {
    color: red;
    transition: all .4s;    
}
.fa-heart:hover {
    color: rgb(255, 255, 255);    
}
/*  Main2    */ 
.text_ {
    background-color: #f5ebeb;
    text-align: center;
    border-top: #ffe600 solid 2px;
    border-bottom: #000000 solid 2px;
}
h2 {
    font-size: 42px;
    font-family: 'Dancing Script';
    text-align: center;
    line-height: 1.0;
    padding: 1px;
}
#coracao { 
    font-size: 48px;
    transition: all 0.4s;
}
#coracao:hover {
   color: blueviolet;
}
/* Galeria de Imagens */
.galery {
    justify-content: center;
    align-items: center;
    text-align: center;

}
#galery {
    font-size: 56px;
    padding: 20px;
    gap: 35px;
    margin: 25px;
}
.cardx_dog,
.cardx_cat {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    transition: all .4s;
}
.image-container {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 10px 5px 10px rgb(142, 156, 160);
    margin: 15px;
    transition: all .5s;
}
.image-container:hover {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f5ebeb;
    background-color: #24685f;
    box-shadow: 10px 10px 5px 10px rgb(115, 128, 117);
    margin: 15px;
    gap: 30px;
}
.image-container img {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;  
    margin: 15px;
    gap: 30px;
}
/* */

/* */
