@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;1,400&family=Inter:wght@100;200;300;400;500;600;700;800&family=Kanit:wght@100;300;500&display=swap');

*{
    font-family: 'inter', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px; /* espaçamento das letras*/
}

/* Header*/
.head-top {    
    display: flex;
    width: 100%;
    background-color: rgb(248, 101, 4); /* cor do Cabeçalho*/
    height: 120px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos na página */
}
.logo img {
    height: 100px; /* Ajuste conforme necessário */
    border: #000000 solid 2px;
    border-radius: 50%;
    margin: 15px;  
}
nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #000000;
}
nav a:hover {
    color: #a0fd0b;
    font-size: 20px;
    transition: 0.3s ease; 
}
/*          */
/*Carrossel */
main {
    margin-top: 1px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 100%; /* Garante que o contêiner tenha a largura total */
    height: 50vh; /* Ocupa 50% da altura da tela */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}
.carousel-slide {
    display: flex; /* Adicionado */
    justify-content: center; /* Adicionado */
    width: 100%;
    height: 100%;
}
.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra completamente a área do contêiner */
}
.carousel-slide p {
    position: absolute;
    bottom: 10px; /* Ajuste conforme necessário */
    left: 10px; /* Ajuste conforme necessário para a posição à esquerda */
    color: #ffffff;
    font-size: 50px;
    margin: 50px;
    max-width: 80%; /* Ajuste conforme necessário para a largura máxima do texto */
}
/* Defina a animação fadenIn */
@keyframes fadenIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* Paragrafo do Carossel*/
.carousel-slide p::first-line { 
    animation: fadenIn 3s 5s forwards;
    font-weight: bold; /* Destaque a primeira linha do parágrafo */
    gap: 20px;
    color: #ffe600; /*Cor do texto */
    text-shadow: 1px 1px 2px #333;
}
.carousel-slide p { 
    font-weight: bold; /* Destaque a primeira linha do parágrafo */
    font-size: 40px;
    gap: 20px;
    color: #fffffe; /*Cor do texto */
    text-shadow: 1px 1px 2px #333;
}
/* Estilo inicial oculto do paragrafo */
.hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
/*------------------------*/
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-10%);
    background-color: #ffffff00;
    color: #ffe600;
    border: none;
    padding: 2px;
    cursor: pointer;
    font-size: 24px;   
}
.carousel-button:focus {
    outline: none;
}
.carousel-button i {
    margin-right: 5px; /* Espaço à direita do ícone */
    font-size: 40px;

}
.carousel-button:first-child {
    left: 0px;
}
.carousel-button:last-child {
    right: 0px;
}
/*      */
section {
    width: 100%;
    color: #000000;
    padding: 10px;
    background-color: #fae1035b;
}   
.card-container {
    display: flex;
    justify-content: center;
}
.card_container1, .card1, .card2, .card3 {
    border: 1px solid #000; /* Adicione a borda aqui */
    padding: 10px; /* Adicione o preenchimento interno desejado */
    margin-right: 20px; /* Para adicionar algum espaço entre os cartões */
    max-width: 400px; /* Define uma largura máxima para evitar que o texto se estenda indefinidamente */
    text-align: center;
    transition: all  .4s;
}

.card_container1 h1 {
    padding: 10px;
    font-size: 1.5em; /* Tamanho do texto para o título */
    text-align: center;
}
.icon-dog {
    font-size: 2.0em;

}
.card1 h2 {
    font-size: 1.5em; /* Tamanho do texto para o título */
}
.card1 p {
    font-size: 1em; /* Tamanho do texto para o parágrafo */
}
.card_container1:hover {
    background-color: #000000; 
    color: #fffffe;
    border: #ffe600 solid 1px;
    cursor: pointer;
}
.card1:hover {
    background-color: #575757; 
    color: #fffffe;
    border: #ffe600 solid 1px;
    cursor: pointer;
}
.card2:hover {
    background-color: #756f6f; 
    color: #fffffe;
    border: #ffe600 solid 1px;
    cursor: pointer;
}
.card3:hover {
    background-color: #756f6f; 
    color: #fffffe;
    border: #ffe600 solid 1px;
    cursor: pointer;
}

/* -------------------*/
.card-container1 {
    display: flex;
    justify-content: center;
    padding: 15px;
    
}
.card_container2, .cards1, .cards2, .cards3 {
    border: 1px solid #000; /* Adicione a borda aqui */
    padding: 10px; /* Adicione o preenchimento interno desejado */
    margin-right: 20px; /* Para adicionar algum espaço entre os cartões */
    max-width: 400px; /* Define uma largura máxima para evitar que o texto se estenda indefinidamente */
    text-align: center;
    transition: all  .4s;
}

.card_container2 h1 {
    padding: 10px;
    font-size: 1.5em; /* Tamanho do texto para o título */
    text-align: center;
}
.icon-dog {
    font-size: 2.0em;

}
.cards1 h2 {
    font-size: 1.5em; /* Tamanho do texto para o título */
}
.cards1 p {
    font-size: 1em; /* Tamanho do texto para o parágrafo */
}
.card_container2:hover {
    background-color: #000000; 
    color: #fffffe;
    border: #ffe600 solid 1px;
    cursor: pointer;
}
.cards1:hover {
    background-color: #575757; 
    color: #fffffe;
    border: #ffe600 solid 1px;
    cursor: pointer;
}
.cards2:hover {
    background-color: #756f6f; 
    color: #fffffe;
    border: #ffe600 solid 1px;
    cursor: pointer;
}
.cards3:hover {
    background-color: #756f6f; 
    color: #fffffe;
    border: #ffe600 solid 1px;
    cursor: pointer;
}







