@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Exo:ital,wght@0,100;0,200;0,300;1,400&family=Inter:wght@100;200;300;400;500;600;700;800&family=Kanit:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;1,100&display=swap');
*{
    
    font-family: cursive;
    font-size: 24px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px; /* espaçamento das letras*/

}
/* Header*/
.head-top {    
    display: flex;
    width: 100%;
    background-color: #f86504; /* cor do Cabeçalho*/
    height: 120px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos na página */
}
.logo img {
    height: 100px; /* Ajuste conforme necessário */
    border: #000000 solid 2px;
    border-radius: 50%;
    margin: 15px;  
}
nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    margin-right: 20px;
}
nav a {
    font-size: 28px;
    text-decoration: none;
    color: #000000;
}
nav a:hover {
    font-size: 28px;
    color: #a0fd0b;
    font-size: 24px;
    transition: 0.3s ease; 
}
/*    main      */
.main {
    text-align: center;
    padding-top: 70px; /* Espaço para o cabeçalho fixo */
    flex-grow: 1; /*faze com que ocupe todo o espaço disponível, empurrando o rodapé para o final da págin*/
    height: auto; /* Ajusta a altura para ocupar 100% da janela de visualização */
    background-color: black;
    color: #a0fd0b;
}
#ogn {
    font-size: 3.0rem;
    font-family: 'Dancing Script';
}
.ong_doa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px; /*adiciona espaço entre os cartões*/ 
    background-color: #160b01;
}
.card_ong1 {
    display: block;
    width: 300px;
    height: 600px;
    border: 2px solid black;
    border-radius: 25px;
    justify-content: center;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: linear-gradient(to bottom, #160b01, #f86515);
    transition: all 1.4s;
}
.logo1 {
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid yellow;
    margin-top: 25px;
    margin-left: 20%;
    background-color: blanchedalmond;  
}
p {
     text-align: center;
    padding: 20px;
    color: aliceblue;
}
#escolhe {
    font-size: 32px;
    color: #c8bc0f;
}
#cob {
    font-size: 32px;
    color: #c8bc0f;
}
#miss {
    font-size: 34px;
    color: #ffffff;
}
.card_ong1:hover {
    display: block;
    width: 300px;
    height: 600px;
    border: 2px solid black;
    border-radius: 25px;
    justify-content: center;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px 3px rgb(142, 156, 160);
}
.icones_cart {
    text-align: center;
}
.card_ong2 {
    display: block;
    width: 300px;
    height: 600px;
    border: 2px solid black;
    border-radius: 25px;
    justify-content: center;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: linear-gradient(to bottom, #078dd6, #0a2e0f);
    transition: all 1.4s;
}
.logo2 {
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid yellow;
    margin-top: 25px;
    margin-left: 20%;
    background-color: blanchedalmond;
}
.card_ong2:hover {
    display: block;
    width: 300px;
    height: 600px;
    border: 2px solid black;
    border-radius: 25px;
    justify-content: center;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px 3px rgb(142, 156, 160);
}
#insta, #what, #face {
    font-size: 32px;
    padding: 15px;
    margin-top: 55px;
}
.card_ong3 {
    display: block;
    width: 300px;
    height: 600px;
    border: 2px solid black;
    border-radius: 25px;
    justify-content: center;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: linear-gradient(to bottom, #c8bc0f, #6e0542);
    transition: all 1.4s;
}
.logo3 {
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid yellow;
    margin-top: 25px;
    margin-left: 20%;
    background-color: blanchedalmond;
}
.card_ong3:hover {
    display: block;
    width: 300px;
    height: 600px;
    border: 2px solid black;
    border-radius: 25px;
    justify-content: center;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px 3px rgb(142, 156, 160);
}
/* FORMULÁRIO*/
form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 22px;
    box-shadow: 0 0 10px rgba(209, 209, 209, 0.1);
}
label {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
}
input, select {
    width: 100%;
    padding: 2px;
    margin-bottom: 8px;
    box-sizing: border-box;
}
button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
h1 {
    justify-content: center;
    text-align: center;
}
button:hover {
    background-color: #45a049;
}
/*         */